
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>Projeto feito no curso de Programação Orientada a Objetos</p>
<span class="text-danger">Prof: Nélio Alves</span>

<address>
    <strong>More Information: </strong> <a href="http://educandoweb.com">Educando Web</a>
</address>